
fastapi==0.115.2
starlette-admin

itsdangerous==2.1.2

httpx==0.25.0
python-multipart==0.0.18
pydantic==2.4.0
pydantic_core==2.10.0

psycopg2-binary==2.9.7
SQLAlchemy==2.0.20
alembic==1.11.2

requests==2.32.2

fastapi[standard]
